/*services.css*/

.bignumber{

	font-size:20vh;
	font-style: italic;
	font-weight: 800;
	color: #cecccc;
}

.bignumber2{

	font-size:9vh;
	font-weight: 800;
	color: #70baff;
	margin-right:2.3vw;

}
.servimg{
	max-width: 55vw;
}

.servimg2{
	max-width: 55vw;
}

.servtitle{
	font-size: 9vh;
	
}

.servimg3{
	max-width: 40vw;
}

.servimg4{
	max-width: 55vw;
	margin-top: 3vh;
}

.servtxt{
	font-size: 3vh;
}

.servtxt2{
	font-size: 2.9vh;
	color: #cecccc;

}

.learn{
	color: #ff3c00;
	font-size: 3vh;
	font-weight: 800;
}

@media (min-width: 768px) {
	.servimg{
	width:100%;
	}
	.servimg2{
	width:100%;
/*	padding-right: 2vw;
*/	}
	.servimg3{
		max-width: 20vw;
	}

	.servimg4{
		margin-top: 0vh;
		max-width: 50vw;
	}
	.servtitle{
	font-size: 9vh;
	margin-top: -5vh;
	}	
}

/* Animations*/

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.agent-1, .agent-3, .agent-4.trig, .agent-5.trig {
  opacity: 0;
  animation: fade-in-right ease 0.8s forwards;
}

.agent-2 {
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.6s forwards;
  /*animation-delay: 0s;*/
}

.agent-3 {
  animation-delay: 0.8s;
}

.agent-4.trig {
  animation-delay: 0.8s;
}

.agent-5.trig {
  animation-delay: 0.8s;
}